<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<title>Labelun</title>
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Roboto:300,400,700&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'css/normilize.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<link rel="stylesheet" href="{% static 'css/all.min.css'%}">
	<script src = "{% static 'js/menu.js'%}" ></script>
	<link rel="shortcut icon" href="{% static 'img/logo.ico'%}" type="image/x-icon">

</head>
<body>
	<div class="wrapper">
		<header>
			<div class="container containter_header">
				<div class="header_top">
					<a href="{% url 'main_page'%}" class="logo">
						<div class="underline"></div>
						Labelun
					</a>
				</div>
				<div class="header_bottom">
				</div>
			</div>
		</header>
        <div class="edit">
        <h1>Welcome {{ new_user.first_name }}!</h1>
        <p>Your account has been successfully created. Now you can <a class='btn_write_a_story' style="display:block;" href="http://127.0.0.1:8000/login">log in</a></p>
</div>
</body>
</html>