{
	padding: 0;
	margin:0;
}
body {
	min-height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
	font-size:15px;
	font-family: "Roboto", sans-serif;
}

.wrapper {
	flex-grow: 1;
}
.container{
	max-width:1100px;
	margin:0 auto;
}
footer{
	background: #262626;
	height:25rem;
}
header{
	box-shadow: 1px 0 2px grey;
	position: fixed;
	width: 100%;
	z-index: 111111111111111111111;
	background: rgba(255,255,255,0.95);
}
.logo{
	font-family:"Open Sans", sans-serif;
	font-weight: 700;
	font-size:2rem;
	color:rgba(0,0,0,.84);
	width:70%;
	display: block;
	text-decoration: none;
}
.containter_header{
	display: grid;
	grid-template-rows: 1fr 0.2fr;
	grid-gap: 0.2rem;
}
.underline{
	height:1.5px;
	background: black;
	position:relative;
	top:1.4rem;
	width:8rem;
}
.header_top{
	display:flex;
}
.btn_write_a_story{
	font-size: 1rem;
	padding: 0.2rem;
	border: 2px solid black;
	width: 7rem;
	height: 1.2rem;
	text-align: center;
	padding-top: 0.4rem;
	transition: all 300ms  linear;
}
.btn_write_a_story:hover{
	background: black;
	cursor: pointer;
	color:white;
}
.header_top_right{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width:30%;
	align-items: center;
}
.header_avatar {
	width: 96%;
	max-width: 5rem;
	max-height:4.5rem;
	z-index: 100000000;
}
.avatar_header {
	width: 100%;
	height: 4.5rem; 
	border-radius:100%;
	border: 2px solid #262626;
	cursor: pointer;
}
.avatar_menu{
	width:30%;
	height: 3rem;
	border-radius:100%;
	border: 2px solid #262626;
	margin-left:-1rem;
	margin-right:.5rem;
}
nav{
	width:55%;
	float:left;
}
.nav{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.nav_li_a{
	text-decoration: none;
	color:#333;
	font-size:1.5rem;
}
.nav_li_a:hover{
	text-decoration: underline;
	color:#03a87c;
}
.dropdown {
	display: inline-block;
	height:4rem;
	width:8rem;
	color:#fff;
}
.dropdown-child {
	display: none;
	background-color: #fff;
	box-shadow: 3px 3px 6px grey;
	width: 11rem;
	margin-left: -3rem;
}
.dropdown-child a {
	color:#333;
	padding: 1rem;
	padding-left:1.5rem; 
	text-decoration: none;
	display: block;
}
.dropdown-child a:hover{
	text-decoration: underline;
}
.dropdown:hover .dropdown-child {
	display: block;
}
.dropdown_wrapper{
	border-bottom:1px solid #8080805e;
	display:flex;
	flex-direction: row;
	justify-content:center;
}
.wrapper_person,.avatar_menu {
	margin-top:1rem;
	margin-bottom:1rem;
}
.wrapper_person{
	margin-top:1.5rem;
}
.wrapper_person a {
	padding:0;
	margin-bottom:.4rem;
	}.topic,.text{
		width: 100%;
		border: none;
		margin-top: 1rem;
	}
	.topic:focus,.text:focus{
		border:none;
		outline: none !important;
	}
	.topic{
		font-family: "Open Sans", sans-serif;
		font-weight: 300;
		font-size:3rem;
		resize: none;
	}
	.text{
		font-size:1.5rem;
		font-weight: 400;
		font-family: 'Zilla Slab', serif;
		color:#333;
		line-height: 1.5;
		resize: none;
		min-height:20rem;
	}
	.write{
		margin-top:8rem;
	}
	.open{
		display:block;
	}

	/*------MEDIA REQUESTS-------*/
	@media screen and (max-width: 1130px){
		html{
			font-size: 14px;
		}
		.dropdown-child{
			margin-left:-5rem;
		}
	}
	@media screen and (max-width: 992px){
		html{
			font-size: 14px;
		}
		.dropdown-child{
			margin-left:-5rem;
		}
	}
	@media screen and (max-width: 768px){
		html{
			font-size: 12px;
		}
		.header_top_right{
			width: 55%;
		}
		.logo{
			width:45%;
		}
		.dropdown-child{
			width:12rem;
			text-align: left;
			padding-top: 0;
		}

	}
	@media screen and (max-width: 480px){
		html{
			font-size: 11px;
		}
		.news{
			width:80%;
			margin-bottom: 1rem;
		}
		.news_image{
			background-size: contain;
			background-image:center;
		}
		.btn_write_a_story{
			margin-left: -4rem;
		}
		.nav_li_a{
			font-size: 1rem;
		}
		.dropdown-child{
			margin-left:-5rem;
		}

	}